html,
body,
.App,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
html .App,
body .App,
.App .App,
#root .App {
  font-family: "Patrick Hand", cursive;
  text-align: center;
  background-image: linear-gradient(-3deg, #07b4f9 40%, skyblue 100%);
  padding: 32px;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px) {
  html .App,
  body .App,
  .App .App,
  #root .App {
    background: gray;
  }
}
html .App h1,
body .App h1,
.App .App h1,
#root .App h1 {
  color: black;
}
html .App .note-list,
body .App .note-list,
.App .App .note-list,
#root .App .note-list {
  display: flex;
  flex-wrap: wrap;
  /* Rounded sliders */
}
html .App .note-list .note,
body .App .note-list .note,
.App .App .note-list .note,
#root .App .note-list .note {
  position: relative;
  background: #ffff88;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 250px;
  word-wrap: break-word;
  padding: 10px;
  margin: 16px auto;
  text-align: left;
}
html .App .note-list .note code,
body .App .note-list .note code,
.App .App .note-list .note code,
#root .App .note-list .note code {
  font-size: 10px;
  color: purple;
}
html .App .note-list .note .fa-trash-o,
body .App .note-list .note .fa-trash-o,
.App .App .note-list .note .fa-trash-o,
#root .App .note-list .note .fa-trash-o {
  font-size: 2em;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
html .App .note-list .completed,
body .App .note-list .completed,
.App .App .note-list .completed,
#root .App .note-list .completed {
  text-decoration: line-through red 3px;
}
html .App .note-list .switch,
body .App .note-list .switch,
.App .App .note-list .switch,
#root .App .note-list .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
html .App .note-list .switch input,
body .App .note-list .switch input,
.App .App .note-list .switch input,
#root .App .note-list .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
html .App .note-list .slider,
body .App .note-list .slider,
.App .App .note-list .slider,
#root .App .note-list .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
html .App .note-list .slider:before,
body .App .note-list .slider:before,
.App .App .note-list .slider:before,
#root .App .note-list .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
html .App .note-list input:checked + .slider,
body .App .note-list input:checked + .slider,
.App .App .note-list input:checked + .slider,
#root .App .note-list input:checked + .slider {
  background-color: #2196f3;
}
html .App .note-list input:focus + .slider,
body .App .note-list input:focus + .slider,
.App .App .note-list input:focus + .slider,
#root .App .note-list input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
html .App .note-list input:checked + .slider:before,
body .App .note-list input:checked + .slider:before,
.App .App .note-list input:checked + .slider:before,
#root .App .note-list input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
html .App .note-list .slider.round,
body .App .note-list .slider.round,
.App .App .note-list .slider.round,
#root .App .note-list .slider.round {
  border-radius: 34px;
}
html .App .note-list .slider.round:before,
body .App .note-list .slider.round:before,
.App .App .note-list .slider.round:before,
#root .App .note-list .slider.round:before {
  border-radius: 50%;
}
html .App form,
body .App form,
.App .App form,
#root .App form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .App form label,
body .App form label,
.App .App form label,
#root .App form label {
  margin-bottom: -12px;
  text-align: left;
  width: 200px;
}
html .App form input,
body .App form input,
.App .App form input,
#root .App form input,
html .App form textarea,
body .App form textarea,
.App .App form textarea,
#root .App form textarea {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 1px solid #ff65a3;
  border-radius: 4px;
}
html .App form input:focus,
body .App form input:focus,
.App .App form input:focus,
#root .App form input:focus,
html .App form textarea:focus,
body .App form textarea:focus,
.App .App form textarea:focus,
#root .App form textarea:focus {
  outline: none;
  border-color: #99991c;
}
html .App form button,
body .App form button,
.App .App form button,
#root .App form button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #ff0a78;
}
html .App form button:hover,
body .App form button:hover,
.App .App form button:hover,
#root .App form button:hover {
  background-color: #ff6392;
}
html .App form button:active,
body .App form button:active,
.App .App form button:active,
#root .App form button:active {
  top: 2px;
}
